{% extends 'base.html' %}

{% block content %}
<h1>Political Topic</h1>
<div class="text-center">
	<div>
		<a class="btn btn-primary" href="{% url 'map'%}" role="button">Gun Control</a>
	</div>
	<br><br>
	<div>
		<a class="btn btn-primary" href="{% url 'map'%}" role="button">Health Care</a>
	</div>
	<br><br>

	<div>
		<a class="btn btn-primary" href="{% url 'map'%}" role="button">Immigration</a>
	</div>
	<br><br>

	<div>
		<a class="btn btn-primary" href="{% url 'map'%}" role="button">Abortion</a>
	</div>
	<br><br>

	<div>
		<a class="btn btn-primary" href="{% url 'map'%}" role="button">Latest</a>
	</div>

</div>

{% endblock %}